.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: var(--mobile-width-container)) {
  .container {
    width: var(--mobile-width-container);
  }
}

@media screen and (min-width: var(--tablet-width-container)) {
  .container {
    width: var(--tablet-width-container);
  }
}

@media screen and (min-width: var(--desktop-width-container)) {
  .container {
    width: var(--desktop-width-container);
  }
}
