@import 'modern-normalize/modern-normalize.css';

:root {
  --main-font-family: 'DM Sans', sans-serif;
  --light-theme-primary-text-color: #2f3438;
  --white: #fff;
  --accent-color: #e99f17;
  --mobile-width-container: 320px;
  --tablet-width-container: 768px;
  --desktop-width-container: 1024px;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  font-family: var(--main-font-family);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

li,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
